body {
	margin: 5rem;
}

#pokedex {
	width: 100%;
	max-width: 40rem;
	height: 100%;
	background-color: rgb(255, 249, 158);
	font-family: verdana;
}

.row{
	display: flex;
	flex-direction: row;
}

.col{
	display: flex;
	flex-direction: column;
}

.pokemon{
	justify-content: space-between;
}